:root {
    height: 100%;
}

body {
    background-color: lightgray;
    font-family: 'Inter', sans-serif;
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 8fr 1fr;
}

header {
    align-self: center;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
}

.game-container {
    align-self: center;
    background-color: white;
    width: calc(64*1vw);
    height: 100%;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a {
    color: black;
}